<%- include ('_header') -%>
    <div class="row">
        <div class="col-12 ">
            <span><br></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-sm-1 col-1">
            <span><br></span>
        </div>

        <div class="col-md-10 col-sm-10 col-10">
            <table class="table table-sm table-responsive-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Confirmados</th>
                        <th scope="col">Activos</th>
                        <th scope="col">Recuperados</th>
                        <th scope="col">Muertes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Total</th>
                        <td class="text-center"><%- data.confirmed[data.confirmed.length - 1] %></th>
                        <td class="text-center"><%- data.active[data.active.length - 1] %></th>
                        <td class="text-center"><%- data.recovered[data.recovered.length - 1] %></th>
                        <td class="text-center"><%- data.deaths[data.deaths.length - 1] %></th>
                    </tr>
                    <tr>
                        <th scope="row"><%- data.date[data.date.length - 1]%></th>
                        <td class="text-center">+<%- data.confirmedDiff[data.confirmedDiff.length - 1]%></th>
                        <td class="text-center"></th>
                        <td class="text-center">+<%- data.recoveredDiff[data.recoveredDiff.length - 1] %></th>
                        <td class="text-center">+<%- data.deathsDiff[data.deathsDiff.length - 1] %></th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-1 col-sm-1 col-1">
            <span><br></span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 ">
            <span><br></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <canvas id="dailyChart" width="100" height="70" ></canvas>
        </div>
        <div class="col-md-6">
            <canvas id="aggregatedChart" width="100" height="70"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-12 ">
            <span><br></span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 ">
            <canvas id="pie-chart" width="800" height="350"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-12 ">
            <span><br></span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 ">
            <span>
                <h3>País por país: Como se compara la trayectoria del numero de casos.</h3>
                <p>Comparación de México y los 10 países con mas casos confirmados.</p>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <canvas id="top10Chart_confirmed" width="100" height="60"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 ">
            <span><br></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <canvas id="top10Chart_deaths" width="100" height="60"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 ">
            <span><br></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <canvas id="top10Chart_dailyActives" width="100" height="60"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 ">
            <span><br></span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 ">
            <span>
                <h3>COVID-19 en el mundo.</h3>
                <p>Total de casos confirmados de COVID-19 a nivel mundial..</p>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <table class="table table-sm table-responsive-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Confirmados</th>
                        <td class="text-center"><%- aggregated.confirmed[aggregated.confirmed.length - 1] %></th>
                    </tr>
                    <tr>
                        <th scope="row">Activos</th>
                        <td class="text-center"><%- aggregated.active[aggregated.active.length - 1] %></th>
                    </tr>
                    <tr>
                        <th scope="row">Recuperados</th>
                        <td class="text-center"><%- aggregated.recovered[aggregated.recovered.length - 1] %></th>
                    </tr>
                    <tr>
                        <th scope="row">Muertes</th>
                        <td class="text-center"><%- aggregated.deaths[aggregated.deaths.length - 1] %></th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <canvas id="pie-chart-2" width="800" height="350"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 ">
            <span><br></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <canvas id="chartTotal" width="100" height="60"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 ">
            <span><br></span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 ">
            <span>
                <h3>Tabla casos por país.</h3>
                <input class="form-control" id="myInput" type="text" placeholder="Buscar...">
                <br>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-6">
            <table class="table table-sm table-striped table-responsive-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">País</th>
                        <th scope="col">Total<br/>Casos</th>
                        <th scope="col">Nuevos<br/>Casos</th>
                        <th scope="col">Total<br/>Muertes</th>
                        <th scope="col">Nuevas<br/>Muertes</th>
                        <th scope="col">Total<br/>Recuperados</th>
                        <th scope="col">Casos<br/>Activos</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    <% for(key in table) { %>
                    <tr>                        
                        <% var index = table[key].length -1; %>
                        <% if(key == 'Mexico') {%>
                            <th class=<%- "table-primary" %> scope="row"> <%- key %> </th>
                            <td class=<%- "table-primary" %>> <%- table[key][index]['confirmed'] %></th>
                            <td class="table-warning">+<%- table[key][index]['confirmed'] - table[key][index-1]['confirmed'] %></th>
                            <td class=<%- "table-primary" %>><%- table[key][index]['deaths'] %></th>
                            <td class="table-danger">+<%- table[key][index]['deaths'] - table[key][index-1]['deaths'] %></th>
                            <td class=<%- "table-primary" %>> <%- table[key][index]['recovered'] %></th>
                            <td class=<%- "table-primary" %>> <%- table[key][index]['confirmed'] - table[key][index]['recovered'] - table[key][index]['deaths'] %></th>
                        <% } else {%>
                            <th scope="row"> <%- key %> </th>
                            <td><%- table[key][index]['confirmed'] %></th>
                            <td class="table-warning">+<%- table[key][index]['confirmed'] - table[key][index-1]['confirmed'] %></th>
                            <td><%- table[key][index]['deaths'] %></th>
                            <td class="table-danger">+<%- table[key][index]['deaths'] - table[key][index-1]['deaths'] %></th>
                            <td><%- table[key][index]['recovered'] %></th>
                            <td><%- table[key][index]['confirmed'] - table[key][index]['recovered'] - table[key][index]['deaths'] %></th>
                        <% } %>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });

    </script>

    <div class="row">
        <div class="col-xl-12 ">
            <span><br></span>
        </div>
    </div>
<%- include ('_scripts_plots') -%>
<%- include ('_footer') -%>