<%- include ('_header') -%>

    <h1>Casos de coronavirus en Mexico</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Confirmados</th>
                <th scope="col">Activos</th>
                <th scope="col">Recuperados</th>
                <th scope="col">Muertes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Total</th>
                <td><%- data.confirmed[data.confirmed.length - 1] %></th>
                <td><%- data.active[data.active.length - 1] %></th>
                <td><%- data.recovered[data.recovered.length - 1] %></th>
                <td><%- data.deaths[data.deaths.length - 1] %></th>
            </tr>
            <tr>
                <th scope="row"><%- data.date[data.date.length - 1]%></th>
                <td>+<%- data.confirmedDiff[data.confirmedDiff.length - 1]%></th>
                <td></th>
                <td>+<%- data.recoveredDiff[data.recoveredDiff.length - 1] %></th>
                <td>+<%- data.deathsDiff[data.deathsDiff.length - 1] %></th>
            </tr>
        </tbody>
    </table>
    
    <div class="row">
        <div class="col-6">
            <canvas id="dailyChart" width="100" height="100" ></canvas>
        </div>
        <div class="col-6">
            <canvas id="aggregatedChart" width="100" height="100"></canvas>
        </div>
    </div>

    <script>
        var ctx = document.getElementById('aggregatedChart');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: <%- JSON.stringify(data.date); %>,
                datasets: [{
                    label: 'Confirmed',
                    data: <%= JSON.stringify(data.confirmed); %>,
                    backgroundColor: [
                        'rgba(87, 146, 223, 0.2)',
                    ],
                    borderColor: [
                        'rgba(87, 146, 223, 1)',
                    ],
                    borderWidth: 3
                },
                {
                    label: 'Active',
                    data: <%= JSON.stringify(data.active); %>,
                    backgroundColor: [
                        'rgba(170, 89, 242, 0.2)',
                    ],
                    borderColor: [
                        'rgba(170, 89, 242, 1)',
                    ],
                    borderWidth: 3
                },
                {
                    label: 'Recovered',
                    data: <%= JSON.stringify(data.recovered); %>,
                    backgroundColor: [
                        'rgba(97, 179, 102, 0.2)',
                    ],
                    borderColor: [
                        'rgba(97, 179, 102, 1)',
                    ],
                    borderWidth: 3
                },
                {
                    label: 'Deaths',
                    data: <%= JSON.stringify(data.deaths); %>,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                    ],
                    borderWidth: 3
                }
                ]
            },
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Total de casos COVID-19 en México',
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        var ctx2 = document.getElementById('dailyChart');
        var myChart = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: <%- JSON.stringify(data.date); %>,
                datasets: [{
                    label: 'Confirmed',
                    data: <%= JSON.stringify(data.confirmedDiff); %>,
                    backgroundColor: [
                        'rgba(87, 146, 223, 0.2)',
                    ],
                    borderColor: [
                        'rgba(87, 146, 223, 1)',
                    ],
                    borderWidth: 3
                },
                {
                    label: 'Recovered',
                    data: <%= JSON.stringify(data.recoveredDiff); %>,
                    backgroundColor: [
                        'rgba(97, 179, 102, 0.2)',
                    ],
                    borderColor: [
                        'rgba(97, 179, 102, 1)',
                    ],
                    borderWidth: 3
                },
                {
                    label: 'Deaths',
                    data: <%= JSON.stringify(data.deathsDiff); %>,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                    ],
                    borderWidth: 3
                }
                ]
            },
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Nuevos casos por día COVID-19 en México',
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>

<%- include ('_footer') -%>