<%- include ('_header') -%>
    <br>
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">Informacion sobre el COVID-19 en español.</li>
        <% links_es.forEach((link) => { %>
            <li class="list-group-item">
                <a href=<%= link.link %> > <%= link.desc %> </a>
            </li> 
        <% }) %>
    </ul>
    <br>
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">Informacion sobre el COVID-19 en ingles.</li>
        <% links_en.forEach((link) => { %>
            <li class="list-group-item">
                <a href=<%= link.link %> > <%= link.desc %> </a>
            </li>    
        <% }) %>
    </ul>
    <br>
<%- include ('_footer') -%>